<html>
  <body>
    <main>
      <div id="post-container">
        <div id="post-content">
          <h2>{{currentPost.title}}</h2>
          <img src="/{{currentPost.image}}" alt="image not found :(" />
          <div id="post-info">
            <div id="username" class="post-info">>{{currentPost.username}}</div>
            <div id="post-date" class="post-info">{{formatDate currentPost.createdAt}}</div>
          </div> 
          <fieldset>
            {{currentPost.description}}
          </fieldset>
          {{#if isLoggedIn}}
            <form
              id="post-comment"
              action="/comments/create"
              method="POST"
              enctype="text/plain"
            >
              <div class="text-input">
                <textarea
                  name="comment"
                  id="comment-input"
                  cols="50"
                  rows="7"
                  placeholder="Leave a comment"
                ></textarea>
              </div>
              <div id="submit-comment">
                <button
                  data-postid="{{currentPost.id}}"
                  onclick="submit"
                >Submit</button>
              </div>
            </form>
          {{/if}}
        </div>
        <div class="comment-section">
          {{#each currentPost.comments}}
            <div id="comment-list">
              {{> comment this}}
            </div>
          {{/each}}
        </div>
      </div>
    </main>
  </body>
</html>