<html>
  <body>
    <h2>View Posts</h2>
    <main>
      <section>
        <p>{{currentPost.title}}</p>
        <p>{{currentPost.desc}}</p>
        <p>{{currentPost.username}}</p>
        <p>{{currentPost.createdAt}}</p>
        <img src="{{curentPost.image}}" alt="image not found :(" />
        {{#if isLoggedIn}}
          <div class="create-comment">
            <div>
              <textarea
                type="text"
                name="comment"
                placeholder="Remember, be nice!"
                id="commentText"
                class="create-commentTextArea"
                cols="100"
                rows="12"
              ></textarea>
            </div>
            <button
              data-postid="{{currentPost.id}}"
              id="cb"
              onclick=""
            >Submit</button>
          </div>
        {{/if}}
        <div class="comment-section">
          {{#each currentPost.comments}}
            <div id="comment-list">
              {{> comment this}}
            </div>
          {{/each}}
        </div>
      </section>
    </main>
  </body>
</html>